/* FONT SETTINGS */
@font-face{
    font-family: "Bree Serif";
    src: url(../fonts/BreeSerif-Regular.ttf);
}

@font-face{
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Semibold.ttf);
    font-weight: 700;
}

@font-face{
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Light.ttf);
    font-weight: 300;
}
html body{
    background-color: #fff7f2;
    color:#333;
    font-family: "Open Sans","Helvetica","Tahoma",sans-serif;
    font-weight:300;
    min-height:600px;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Bree Serif","Garamond",serif !important;
}

/* CONTENT */

.content{
    min-height: 100%;
    padding-bottom: 50px;
}

.content .chattur__userlist{
    position: fixed;
    top: 15px;
    right: 45px;
}
.users ul{
    list-style-type: none;
    padding-left: 0;
}

.users li{
    margin-bottom: 5px;
}

.user{
    transition: all 0.3s;
}

.user.user--current{
    font-weight: 700;
}

.user:hover{
    background-color: rgba(255,213,46,0.1)
}

/* AVATAR */
.user img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    float: left;
    margin-right: 5px;
}

.user .user--status__active{
    border: 3px solid #ffd72c;
}

.user .user--status__inactive{
    border: 3px solid #b0b0b0;
}

.user .user--status__playing{
    border: 3px solid #2baaff;
}

.user .user__status{
    font-size: 12px;
}

.messages{
    margin-top: 35px;

}
.messages .messages__content{
    overflow: auto;
    margin-bottom: 210px;
}

.message{
    line-height: 24px;
}

.message .message__timestamp{
    color: #aaaaaa;
}

.message .message__username{
    font-family: "Bree Serif","Garamond",serif !important;
    font-size: 16px;
}

.message__system .message__text{
    font-style: italic;
}

/* BOTTOM */

.row.row--fixedbottom{
    position: fixed;
    bottom: 0;
    padding-bottom: 15px;
    width: calc(100% - 15px);
    border-top: 1px solid rgba(255,213,46,0.3);
}
.messageform .messageform__text{
    height: 139px;
}

.chattur__settings{
    border-left: 1px solid rgba(255,213,46,0.3);
}
.nameform{
    margin-bottom: 15px;
}

.statusform select{
    text-transform: capitalize;
    margin-right: 2%;
}

.statusform select + input{
    margin-top: 10px;
}

.statusform select, .statusform input{
    width: 49%;
    display: inline;
}




@media(max-width:900px){
    .content .chattur__userlist{
        position: fixed;
        top: 15px;
        right: 0;
    }
}
@media (max-width:767px){
    .row.content{
        padding-bottom: 15px;
    }

    .row.row--fixedbottom{
        position: relative;
    }

    .messageform .messageform__text{
        height: 34px;
    }

    .messages .messages-content{
        margin-bottom: 0;
    }
    .row.row--fixedbottom{
        margin-left: 0;
        margin-right: 0;
    }

    .container{
        padding-right: 0 !important;
    }

    .row.row--fixedbottom .chattur__message, .row.row--fixedbottom .chattur__settings{
        padding-left: 0;
        padding-right: 0;
    }

    .content .chattur__userlist{
        position: fixed;
        top: 15px;
        right: 0;
    }

}

@media(min-width:901px){
    .content .chattur__userlist{
        width: 262px;
        right: 45px;
    }
}

@media (min-width: 768px){
    .row.row--fixedbottom{
        width: 750px;
    }
}

@media (min-width: 992px){
    .row.row--fixedbottom{
        width: 970px;
    }
    .content .chattur__userlist{
        width: 262px;
        right: 15px;
    }
}

@media (min-width: 1200px){
    .row.row--fixedbottom{
        width: 1170px;
    }
}

/* Bootstrap overrides */
.container{
    position: relative;
}

.row{
    background-color: #fff7f2;
}

input.form-control, textarea.form-control, button.btn, select.form-control{
    border-radius: 0;
    border: 0;
    outline: none !important;
}

input.form-control:focus, textarea.form-control:focus, button.btn:focus, select.form-control:focus{
    outline: none;
    border: 1px solid #ffd72c;
    box-shadow: none;
}

button.btn.btn-success{
    transition: background-color 0.3s;
    background-color: #ffd72c;
    margin-top: 15px;
}

button.btn.btn-success:hover{
    background-color: #ecbf27;
}

button.btn.btn-success:focus, button.btn.btn-success:target{
    background-color: #d6ad23;
}